/* COLORS */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

.container {
    width: 320px;
    height: 500px;
    margin: auto;
    position: relative;
    display: block;
    border-radius: 5%;
    top: 100px;
    background-color: var(--white);
}

.qr_code {
    position: absolute;
    margin: auto;
    padding: auto;
    width: 290px;
    height: 290px;
    left: 15px;
    top: 15px;
    border-radius: 5%;
}

.qr_title {
    position: absolute;
    text-align: center;
    align-items: center;
    display: block;
    bottom: 115px;
    font-weight: 700;
    font-size: 22px;
    padding: 0 20px;
}

.qr_text {
    position: absolute;
    text-align: center;
    align-items: center;
    display: block;
    bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 20px;
    color: var(--Grayish-blue);
}

.attribution {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: end;
    top: 190px;
    font-size: 10px;
}